:root {
  --hero-title-color: #ffffff;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --btn-text-color: #ffffff;
  --bg-primary-color: #ffffff;
  --bg-secondary-color: #2f303a;
  --bg-team-color: #f5f4fa;
  --footer-adress-color: rgba(255, 255, 255, 0.6);
  --primary-icon-color: #afb1b8;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  padding-left: 0;
  margin: 0;
}
img {
  display: block;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}
/*---------- header ----------*/
.header {
  border-bottom: 1px solid #ececec;
  background-color: var(--bg-primary-color);
}
.header-container {
  display: flex;
  align-items: center;
}
.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.header-logo {
  color: #000;
}
.header-nav {
  margin-left: 93px;
}
.header-list {
  display: flex;
}
.header-list .header-item + .header-item {
  margin-left: 50px;
}
.header-item {
  position: relative;
}
.header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.header-link.current {
  color: var(--accent-color);
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}
.current::after {
  position: absolute;
  bottom: 0;
  left: 0;

  content: '';
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}
.contact-list {
  display: flex;
  margin-left: auto;
}
.contact-link {
  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  fill: var(--secondary-text-color);
}
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}
.contact-icon {
  margin-right: 10px;
}
.contact-list .contact-item:not(:last-child) {
  margin-right: 30px;
}
/*---------- index ----------*/
/*---------- hero ----------*/
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background: var(--bg-secondary-color);

  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/img-hero.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--hero-title-color);
  text-transform: uppercase;
}
.btn-hero {
  padding: 10px 32px;
  border-radius: 4px;
  border: 1px solid transparent;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--btn-text-color);
  background-color: var(--accent-color);
}
.btn-hero:hover,
.btn-hero:focus {
  background-color: #188ce8;
  cursor: pointer;
}
/*---------- features ----------*/
.features-list {
  display: flex;
}
.features-item {
  width: 270px;
}
.features-item:not(:last-child) {
  margin-right: 30px;
}
.item-icon {
  height: 120px;
  margin-bottom: 30px;

  background-color: var(--bg-team-color);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.features-item-icon {
  width: 70px;
  height: 70px;
}
.features-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/*---------- about ----------*/
.about {
  padding-top: 0;
}
.about-list {
  display: flex;
}
.about-item:not(:last-child) {
  margin-right: 30px;
}
.about-box {
  position: relative;
}
.about-overlay {
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}
.about-label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
/*---------- team ----------*/
.team {
  background-color: var(--bg-team-color);
}
.team-list {
  display: flex;
  justify-content: space-between;
}
.team-item {
  background-color: var(--bg-primary-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-legend {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-item-title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}
.team-item-text {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--secondary-text-color);
}
.team-soc-list {
  display: flex;
  justify-content: center;
}
.team-soc-item + .team-soc-item {
  margin-left: 10px;
}
.team-soc-link {
  width: 44px;
  height: 44px;
  background-color: var(--bg-primary-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--primary-icon-color);
}
.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--accent-color);
  fill: #ffffff;
}
/*---------- clients ----------*/
.clients-list {
  display: flex;
  justify-content: center;
}
.clients-item + .clients-item {
  margin-left: 30px;
}
.clients-link {
  width: 170px;
  height: 92px;
  border: 1px solid var(--primary-icon-color);
  border-radius: 4px;

  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--primary-icon-color);
}
.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}
/*---------- portfolio ----------*/
.btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.btn-item:not(:last-child) {
  margin-right: 8px;
}
.btn {
  padding: 6px 22px;
  border-radius: 4px;
  border: 1px solid transparent;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--bg-team-color);
}
.btn:hover,
.btn:focus {
  cursor: pointer;
  color: var(--hero-title-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.portfolio-item {
  background-color: var(--bg-primary-color);
}
.portfolio-link {
  display: block;
}
.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-box {
  position: relative;
  overflow: hidden;
}
.portfolio-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms ease;

  display: flex;
  align-items: center;

  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
}
.portfolio-label {
  padding: 0 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.portfolio-link:hover .portfolio-overlay,
.portfolio-link:focus .portfolio-overlay {
  transform: translateY(0);
}

.portfolio-legend {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}
.portfolio-text {
  margin-top: 4px;

  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/*---------- backdrop ----------*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;
  background-color: #fff;
  border-radius: 4px;
}
/*---------- footer ----------*/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bg-secondary-color);
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-logo {
  color: #fff;
}
.adress {
  margin-top: 20px;
  font-style: normal;
}
.adress-list .adress-item + .adress-item {
  margin-top: 9px;
}
.footer-address,
.footer-mail,
.footer-tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-adress-color);
}
.footer-address {
  color: #fff;
}
.footer-text {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.footer-soc-links {
  margin-left: 70px;
}
.footer-soc-list {
  display: flex;
  justify-content: center;
}
.footer-soc-item + .footer-soc-item {
  margin-left: 10px;
}
.footer-soc-link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #ffffff;
}
.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--accent-color);
}
